html{
	position: absolute;
	font-size: 62.5%; /* easier to convert to rem */
	height: 100%; 
	width: 100%; 
	/* root = 100% x 100% */
}
* {
	margin: 0;
	border: 0;
	padding: 0;
	/* Set all margin, borders and paddings to 0, just adjust values when needed. */
}

/* ----------------------------speakers--------------------------------- */

.speakers_container {
	background-color: #dcdcdc;
	overflow: scroll; /* Just shows overflow content when scrolling */

}

.speakers_title{
	text-align: center;
	padding-bottom: 10%; /* % of .speakers_container height */
	
	color: #292929;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 6vh; /* % of entire viewport height */
	padding-top: 10%;
}

.day1_speakers_gallery{
	position: relative;
	left: 8%; /* % of .speakers_container width, vw would result the same here */
	padding-bottom: 8%;

	display: flex; /* Display cards in flexbox */
	flex-wrap: nowrap; /* Horizontal */
	scroll-snap-type: x mandatory; /* Mandatory scroll on x axis */
	overflow-x: auto; /* While there's overflow, it will show a scrollbar */
	overflow-y: hidden;
	
	-webkit-overflow-scrolling: touch; /* More dynamic scorll */
	
}
.day1_card1 {
	position: relative;
	height: 27vh; /* '%' didn't work here */
	width: 77%;
	max-width: 70rem; /* Avoid the card stretching more than that */
	background-color: #5B3DAE;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
	scroll-snap-align: center;
}

.day1_card2{
	position: relative;
	height: 27vh; 
	width: 77%;
	max-width: 70rem; 
	left: 4%;
	background-color: #5B3DAE;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
}

.day1_card3{
	position: relative;
	height: 27vh;
	width: 77%;
	max-width: 70rem;
	left: 8%;
	background-color: #5B3DAE;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
}

.day2_speakers_gallery {
	position: relative;
	height: 27vh;
	left: 8%;
	padding-bottom: 12.5%;
	
	display: flex;
	flex-wrap: nowrap;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
	overflow-y: hidden;
	
	-webkit-overflow-scrolling: touch;
	
}

.day2_card1{
	position: relative;
	height: 27vh;
	width: 77%;
	max-width: 70rem;
	background-color: #D0604F;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
}

.day2_card2{
	position: relative;
	height: 27vh;
	width: 77%;
	max-width: 70rem;
	left: 4%;
	background-color: #D0604F;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
}

.day2_card3{
	position: relative;
	width: 77%;
	max-width: 70rem;
	left: 8%;
	background-color: #D0604F;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	flex: 0 0 auto;
}

.img_speakers {
	object-fit: cover; /* fit without deforming */
	width: 44%; /* % of .day_card div, which is the parent element */
	height: 90%; 
	position: relative;
	left: 5%;
	top: 5%;
	border-radius: 10px;
}

.content{
	width: 40%; 
	position: relative;
	left: 53%; /* % of .content div, which is the parent element */
	bottom: 85%;
}

.speaker_name {
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
	
	margin-top: 8%; /* % of .content div, which is the parent element */
	font-weight: 700;
	font-size: 2.2vh;
	line-height: 1.33;

	color: #ffffff;
}

.company{
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
	font-weight: 700;
	font-size: 1.8vh;
	line-height: 1.33;
	margin-top: 3%; /* % of .content div, which is the parent element */

	color: #ffffff;
	
}

.info{
	position: relative;
	margin-top: 8%; /* % of .content div, which is the parent element */

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 1.5vh;
	line-height: 1.21;
	letter-spacing: 0.035vw;
	color: #ffffff;
}

hr{
	position: relative;
	margin-top: 8%; 
	width: 80%; /* % of .content div, which is the parent element */
	border: solid;
	color: #ebeaea;
	background-color: #ebeaea;
}

.readmore{
	position: relative;
	margin-top: 8%; /* % of .content div, which is the parent element */

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
	font-size: 1.3vh;
	line-height: 1.22;

	letter-spacing: 0.035vw;
	background-color: inherit;
	color: #ebeaea;
}

/* ----------------------------sponsors--------------------------------- */


.sponsors_container {
	position: relative;
	background-color: #dcdcdc;
}

.sponsors_title{
	position: relative;
	text-align: center;
	padding-bottom: 8%;
	
	color: #292929;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 5vh;
}

.first-row-sponsors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 20vw));
    gap: 2vh;
	padding-bottom: 5%;
	padding-left: 2%;
    justify-content: center;

}
.rest-of-sponsors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 20vw));
    row-gap: 1vh;
    padding-top: 3%;
    padding-left: 15%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center;
}

.first-row-sponsors > img {
    width: 100%;
}

.rest-of-sponsors > img {
   width: 50%;
}
